---
import rocket from "@assets/icon/rocket.svg";
import money from "@assets/icon/money.svg";
import target from "@assets/icon/target.svg";
import people from "@assets/icon/people.svg";
import Icon from "@components/Icon.astro";

const icons = {
  rocket,
  money,
  target,
  people,
};

interface Props {
  title: string;
  icon: keyof typeof icons;
}

const { title, icon } = Astro.props;
---

<div class="flex flex-col max-w-[140px] sm:max-w-[160px] lg:max-w-[175px]">
  <div class="bg-white rounded-xl sm:rounded-2xl flex items-center gap-1 sm:gap-2 p-1.5 sm:p-2">
    <div
      class="rounded-2xl sm:rounded-3xl bg-secondary flex items-center justify-center p-1 sm:p-1.5"
    >
      <Icon name={icon} class="w-[20px] h-[20px] sm:w-[22px] sm:h-[22px] lg:w-[25px] lg:h-[25px]" />
    </div>
    <h4 class="text-xs sm:text-sm lg:text-md text-secondary font-bold">{title}</h4>
  </div>
  <div
    class="border-white border bg-secondary rounded-xl sm:rounded-2xl mt-[-8px] sm:mt-[-10px] text-primary-text text-center font-light px-1.5 sm:px-2 py-1.5 sm:py-2 text-xs"
  >
    <slot />
  </div>
</div>
