---
import Icon from '@components/Icon.astro';

interface Props {
  popular?: boolean;
  items?: string[];
}

const { popular = false, items = [] } = Astro.props;
---

<div 
  class={`rounded-2xl p-5 pt-7.5 text-primary-text relative bg-quaternary ${popular ? ' bg-gradient border-2 border-primary pr-32' : 'pr-12'}`}
  data-aos={popular ? "fade-up-right" : "fade-up-left"}
  data-aos-delay={popular ? 0 : 150}
  data-aos-duration="450"
>
  { popular && <div class="bg-primary p-1.5 rounded-lg absolute top-0 translate-y-[-50%] left-5 text-secondary font-bold"> Popular </div>}
  
  <div class="flex w-[100%] align-bottom gap-5">
    <h2 class="text-xl font-bold">Desafíos MyFondeo</h2>
    { !popular && <div class="gradient-gold p-1.5 rounded-lg text-primary-text font-bold px-5 border-2 border-amber-300"> Pro </div>}
  </div>
  <ul class={popular ? "mt-2.5" : "mt-1"}>
    {items.map(( label ) => <li class="flex items-center gap-2 font-normal text-sm mt-1"><Icon name="check" class="w-[20px] h-[20px]"/> {label}</li>)}
  </ul>
</div>


<style>
  .bg-gradient {
    background: linear-gradient(90deg, rgba(4, 228, 188, 0.4), transparent);
  }
  .gradient-gold {
    background: linear-gradient(105deg,rgba(255, 207, 0, 0.85) 20%, rgba(255, 207, 0, 0.80) 30%, #0001);
  }
</style>