---
import Icon from "@components/Icon.astro";
const { height = '70px' } = Astro.props;
---

<a class=`flex gap-2 items-baseline-last h-[${height}] mt-[-15px] cursor-pointer` href="/">
  <Icon name="mf" class="aspect-[9/20] w-[25px]" />
  <h1 class="font-[600] leading-tight text-lg mb-1">my<br />FONDEO</h1>
</a>
