---
interface Props {
  question: string;
}

const { question } = Astro.props;
---

<details
  class="group rounded-2xl details-content:h-0 details-content:transition-all details-content:overflow-hidden details-content:duration-300 details-content:ease-in-out open:details-content:h-auto"
>
  <summary
    class="flex max-h-[60px] sm:max-h-[70px] lg:max-h-[75px] items-center border border-gray-300 justify-between cursor-pointer text-base sm:text-lg font-medium text-gray-800 p-3 sm:p-4 pl-4 sm:pl-6 pr-8 sm:pr-10 rounded-2xl sm:rounded-3xl bg-quaternary group-open:bg-white group-open:border-0 overflow-hidden"
  >
    <span
      class="text-primary-text group-open:text-quaternary transition-color text-sm sm:text-lg lg:text-xl"
      >{question}</span
    >
    <svg
      class="w-8 sm:w-9 lg:w-10 aspect-square transition-transform duration-300 group-open:rotate-180 bg-primary p-1.5 sm:p-2 rounded-full flex-shrink-0"
      fill="none"
      stroke="white"
      stroke-width="3"
      viewBox="0 0 24 24"
    >
      <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"
      ></path>
    </svg>
  </summary>
  <div
    class="mt-1.5 sm:mt-2 leading-relaxed text-primary-text transition-discrete starting:max-h-0 text-sm sm:text-lg lg:text-xl px-0.5 sm:px-1"
  >
    <slot />
  </div>
</details>
