@import "tailwindcss";
@tailwind utilities;

/* Astro config */
@view-transition {
  navigation: auto;
}

:root {
  interpolate-size: allow-keywords;
}

@theme {
  /* Colores */
  --color-primary: #04e4bc;
  --color-secondary: #00164a;
  --color-tertiary: #003e8f;
  --color-quaternary: #000b38;
  --background-primary: linear-gradient(90deg, #000b38 0%, #002c6d 100%);

  --color-primary-text: #FEFEFE;
  /* Fuentes */
  --font-poppins: "Poppins";
}