@import "tailwindcss";
@tailwind utilities;

/* Astro config */
@view-transition {
  navigation: auto;
}


@theme {
  /* Colores */
  --color-primary: #04e4bc;
  --color-secondary: #00164a;
  
  --background-primary: linear-gradient(90deg, #000b38 0%, #002c6d 100%);  

  /* Fuentes */
  --font-poppins: "Poppins";
}