@import 'notyf/notyf.min.css';

@import "tailwindcss";
@tailwind utilities;

/* Astro config */
@view-transition {
  navigation: auto;
}

:root {
  interpolate-size: allow-keywords;
}

html {
  scroll-behavior: smooth;
}

@theme {
  /* Colores */
  --color-primary: #04e4bc;
  --color-secondary: #00164a;
  --color-tertiary: #003e8f;
  --color-quaternary: #000b38;
  --background-primary: linear-gradient(90deg, #000b38 0%, #002c6d 100%);

  --color-primary-text: #fefefe;

  --color-bg: #eee;

  /* Fuentes */
  --font-poppins: "Poppins";
}

@layer utilities {
  input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px theme("colors.quaternary") inset !important;
    -webkit-text-fill-color: theme("colors.primary-text") !important;
  }
}
