---
import LandingLayout from "@Layouts/LandingLayout.astro";
---

<LandingLayout>
  <div class="grid grid-cols-[60%_40%]">
    <div>
      <h3>¿Tu pasión deportiva no te da ganancias reales?</h3>
      <h1>Hasta ahora</h1>
      <p>
        Transforma tu pasión en un negocio rentable: te damos el capital y la
        metodología para que operes como un profesional, sin arriesgar tu propio
        dinero.
      </p>
      <button>
        Empieza tu evaluación
      </button>
    </div>
    <div>
      * tablet *
    </div>
  </div>
</LandingLayout>
