---
import Icon from "@components/Icon.astro";
import Logo from "../Logo.astro";
const date = new Date();
const year = date.getFullYear();
---

<div
  class="bg-secondary z-50 w-full grid grid-cols-1 md:grid-cols-[100px_1fr_1fr] p-4 sm:p-6 lg:pl-20 gap-6 sm:gap-8 lg:gap-16"
>
  <Icon name="mf" class="mx-auto md:mx-0" />

  <div class="flex flex-col md:flex-row justify-evenly gap-6 md:gap-0">
    <span class="flex flex-col items-center gap-2 sm:gap-3 text-center">
      <h4 class="text-primary font-bold text-lg sm:text-xl">Descubre</h4>
      <a href="/" class="text-primary-text font-semibold mt-3 sm:mt-7.5 text-sm sm:text-base">Inicio</a>
      <a href="/" class="text-primary-text font-semibold text-sm sm:text-base">Sobre nosotros</a>
      <a href="/" class="text-primary-text font-semibold text-sm sm:text-base">Como funciona</a>
      <a href="/" class="text-primary-text font-semibold text-sm sm:text-base">Historias de éxito</a>
    </span>

    <span class="flex flex-col items-center gap-2 sm:gap-3 text-center">
      <h4 class="text-primary font-bold text-lg sm:text-xl">Ayuda</h4>
      <a href="/" class="text-primary-text font-semibold mt-3 sm:mt-7.5 text-sm sm:text-base">Legal</a>
      <a href="/" class="text-primary-text font-semibold text-sm sm:text-base"
        >Preguntas frecuentes</a
      >
      <a href="/" class="text-primary-text font-semibold text-sm sm:text-base"
        >Términos y condiciones</a
      >
      <a href="/" class="text-primary-text font-semibold text-sm sm:text-base"
        >Política de privacidad</a
      >
    </span>
    <span class="flex flex-col items-center md:items-start gap-2 sm:gap-2.5">
      <h4 class="text-primary font-bold text-lg sm:text-xl">Conecta</h4>
      <a href="/" class="text-primary-text font-semibold flex items-center gap-2 mt-3 sm:mt-5 text-sm sm:text-base">
        <Icon name="instagram" class="text-primary w-6 sm:w-8" /> Instagram
      </a>
      <a href="/" class="text-primary-text font-semibold flex items-center gap-2 text-sm sm:text-base">
        <Icon name="tiktok" class="text-primary w-6 sm:w-8" /> TikTok
      </a>
      <a href="/" class="text-primary-text font-semibold flex items-center gap-2 text-sm sm:text-base">
        <Icon name="discord" class="text-primary w-6 sm:w-8" /> Discord
      </a>
      <a href="/" class="text-primary-text font-semibold flex items-center gap-2 text-sm sm:text-base">
        <Icon name="youtube" class="text-primary w-6 sm:w-8" /> Youtube
      </a>
    </span>
  </div>
  <span class="text-center md:text-left">
    <p class="font-semibold text-sm sm:text-base">
      ©{year} MyFondeo. Todos los derechos reservados.
    </p>
    <p class="font-bold mt-3 sm:mt-5 text-xs sm:text-sm text-center md:text-left">
      MyFondeo no es una casa de apuestas ni un corredor de apuestas. Somos una
      plataforma de fondeo para trading basado en pronósticos deportivos. Operar
      implica riesgos y no garantiza ganancias.
    </p>
  </span>
</div>
