---
import ChallengeCard from "./ChallengeCardColumn";
---

<div class="w-full grid grid-cols-6">
  <div>
    
  </div>
  <ChallengeCard
    totalAmount={2000}
    initialValues={[
      {
        key: "profitTargetPhase1",
        type: "percentage",
        value: 35,
        editable: true,
        minValue: 28,
        maxValue: 50,
      },
      {
        key: "profitTargetPhase2",
        type: "percentage",
        value: 25,
        editable: true,
        minValue: 15,
        maxValue: 35,
      },
      {
        key: "minPicks",
        type: "amount",
        value: 20,
        editable: false,
      },
      {
        key: "maxTradeAmount",
        type: "percentage",
        value: 10,
        editable: true,
        minValue: 10,
        maxValue: 15,
      },
      {
        key: "minTradeAmount",
        type: "percentage",
        value: 1,
        editable: true,
        minValue: 1,
        maxValue: 2,
      },
      {
        key: "maxTotalLoss",
        type: "percentage",
        value: 10,
        editable: false,
        minValue: 10,
        maxValue: 15,
      },
      {
        key: "maxDailyLoss",
        type: "percentage",
        value: 10,
        editable: false,
        minValue: 10,
        maxValue: 15,
      },
      {
        key: "timeLimit",
        type: "days",
        value: 30,
        editable: true,
        minValue: 30,
        maxValue: 45,
      },
      {
        key: "benefitDivision",
        type: "percentage",
        value: 80,
        editable: true,
        minValue: 80,
        maxValue: 85,
      },
    ]}
    client:visible
  />
</div>
